## Preprocessing

In [21]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import load_model
import warnings
warnings.simplefilter("ignore")

# Read the charity_data.csv.
applications_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
applications_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [22]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
applications_df.drop(['EIN', 'NAME'], axis=1, inplace=True)
applications_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [23]:
# Determine the number of unique values in each column.
unique_values = applications_df.nunique()
unique_values

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [24]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = applications_df['APPLICATION_TYPE'].value_counts()
application_type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [25]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# Choose a cutoff value
cutoff_value = 100  # Example cutoff value

# Identify application types with counts below the cutoff value
application_types = application_type_counts[application_type_counts < cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types:
    applications_df['APPLICATION_TYPE'] = applications_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
applications_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: count, dtype: int64

In [26]:
# Look at CLASSIFICATION value counts for binning
classification_counts = applications_df['CLASSIFICATION'].value_counts()
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [27]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = classification_counts[classification_counts > 1]
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [28]:
# Choose a cutoff value and create a list of classifications to be replaced
cutoff_value = 100

# use the variable name `classifications_to_replace`
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    applications_df['CLASSIFICATION'] = applications_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
applications_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      643
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C1370        1
C1236        1
C2190        1
C4200        1
C5200        1
C1900        1
C2600        1
C1248        1
C6100        1
C1820        1
C1580        1
C2570        1
C1732        1
C3700        1
C2500        1
C1570        1
C1283        1
C2380        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2561        1
C2150        1
Name: count, dtype: int64

In [29]:
# Convert categorical data to numeric with `pd.get_dummies`
applications_df_numeric = pd.get_dummies(applications_df)
applications_df_numeric.head(5)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [30]:
# Split our preprocessed data into our features and target arrays
# Features (independent variables)
X = applications_df_numeric.drop(columns=['IS_SUCCESSFUL']).values

# Target (dependent variable)
y = applications_df_numeric['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Print the shapes of the training and testing sets to verify the split
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (27439, 76)
X_test shape: (6860, 76)
y_train shape: (27439,)
y_test shape: (6860,)

In [31]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [32]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# Define the number of hidden nodes for each layer
hidden_nodes_layer1 = 20
hidden_nodes_layer2 = 10

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=X_train.shape[1], activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 20)             │         1,540 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 10)             │           210 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            11 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 1,761 (6.88 KB)

 Trainable params: 1,761 (6.88 KB)

 Non-trainable params: 0 (0.00 B)

In [33]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [34]:
# Convert X_train and y_train to appropriate numerical data types
X_train = X_train.astype(np.float32)
y_train = y_train.astype(np.float32)

In [35]:
# Train the model
history = nn.fit(X_train, y_train, epochs=100, verbose=1)

Epoch 1/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 721us/step - accuracy: 0.5006 - loss: 24264.4180
Epoch 2/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 781us/step - accuracy: 0.4818 - loss: 15682.9922
Epoch 3/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 691us/step - accuracy: 0.5020 - loss: 4020.8188
Epoch 4/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 728us/step - accuracy: 0.4994 - loss: 15595.9893
Epoch 5/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 714us/step - accuracy: 0.5236 - loss: 11296.9336
Epoch 6/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 718us/step - accuracy: 0.5200 - loss: 5474.0103
Epoch 7/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 742us/step - accuracy: 0.5233 - loss: 5367.7085
Epoch 8/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 704us/step - accuracy: 0.5161 - loss: 15139.9111
Epoch 9/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 698us/step - accuracy: 0.5173 - loss: 3925.4685
Epoch 10/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 720us/step - accuracy: 0.5236 - loss: 4802.6616
Epoch 11/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 696us/step - accuracy: 0.5277 - loss: 6387.7188
Epoch 12/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 762us/step - accuracy: 0.5303 - loss: 8360.9756
Epoch 13/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 684us/step - accuracy: 0.5294 - loss: 2735.5139
Epoch 14/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 677us/step - accuracy: 0.4926 - loss: 5617.4546
Epoch 15/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 666us/step - accuracy: 0.5576 - loss: 2737.4990
Epoch 16/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 699us/step - accuracy: 0.5251 - loss: 31076.3477
Epoch 17/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 664us/step - accuracy: 0.5768 - loss: 1100.5518
Epoch 18/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 712us/step - accuracy: 0.5187 - loss: 5209.7031
Epoch 19/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 690us/step - accuracy: 0.5642 - loss: 1211.9065
Epoch 20/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 711us/step - accuracy: 0.5377 - loss: 11067.9141
Epoch 21/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 696us/step - accuracy: 0.5508 - loss: 4748.3550
Epoch 22/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 746us/step - accuracy: 0.6240 - loss: 213.8470
Epoch 23/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 716us/step - accuracy: 0.4989 - loss: 1590.4961
Epoch 24/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 764us/step - accuracy: 0.5792 - loss: 515.1408
Epoch 25/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 689us/step - accuracy: 0.5964 - loss: 980.8480
Epoch 26/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 694us/step - accuracy: 0.5982 - loss: 562.5777
Epoch 27/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 672us/step - accuracy: 0.5738 - loss: 529.4333
Epoch 28/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 705us/step - accuracy: 0.4849 - loss: 790.7784
Epoch 29/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 751us/step - accuracy: 0.5268 - loss: 363.4000
Epoch 30/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 702us/step - accuracy: 0.5390 - loss: 0.7039
Epoch 31/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 700us/step - accuracy: 0.6859 - loss: 0.6178
Epoch 32/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 699us/step - accuracy: 0.6961 - loss: 0.6085
Epoch 33/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 696us/step - accuracy: 0.6933 - loss: 0.6101
Epoch 34/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 779us/step - accuracy: 0.6972 - loss: 0.6050
Epoch 35/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 716us/step - accuracy: 0.6909 - loss: 0.6076
Epoch 36/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 687us/step - accuracy: 0.6958 - loss: 0.6031
Epoch 37/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 785us/step - accuracy: 0.6978 - loss: 0.6000
Epoch 38/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 899us/step - accuracy: 0.6947 - loss: 0.6022
Epoch 39/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 878us/step - accuracy: 0.6959 - loss: 0.6004
Epoch 40/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 784us/step - accuracy: 0.6934 - loss: 0.6014
Epoch 41/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 752us/step - accuracy: 0.6927 - loss: 0.6029
Epoch 42/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 744us/step - accuracy: 0.6989 - loss: 0.5979
Epoch 43/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 742us/step - accuracy: 0.6926 - loss: 0.5999
Epoch 44/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 715us/step - accuracy: 0.6917 - loss: 0.6044
Epoch 45/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 786us/step - accuracy: 0.6978 - loss: 0.5993
Epoch 46/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 858us/step - accuracy: 0.6941 - loss: 0.6005
Epoch 47/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 950us/step - accuracy: 0.6931 - loss: 0.6030
Epoch 48/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 863us/step - accuracy: 0.6938 - loss: 0.6026
Epoch 49/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 857us/step - accuracy: 0.6887 - loss: 0.6043
Epoch 50/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 859us/step - accuracy: 0.6860 - loss: 0.6103
Epoch 51/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 934us/step - accuracy: 0.6881 - loss: 0.6095
Epoch 52/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 870us/step - accuracy: 0.6919 - loss: 0.6068
Epoch 53/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 861us/step - accuracy: 0.6894 - loss: 0.6075
Epoch 54/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 854us/step - accuracy: 0.6891 - loss: 0.6087
Epoch 55/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 903us/step - accuracy: 0.6909 - loss: 0.6078
Epoch 56/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 876us/step - accuracy: 0.6975 - loss: 0.6032
Epoch 57/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 841us/step - accuracy: 0.6913 - loss: 0.6054
Epoch 58/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 867us/step - accuracy: 0.6909 - loss: 0.6062
Epoch 59/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 929us/step - accuracy: 0.6896 - loss: 0.6085
Epoch 60/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 852us/step - accuracy: 0.6931 - loss: 0.6069
Epoch 61/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 842us/step - accuracy: 0.6239 - loss: 7.9001
Epoch 62/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 847us/step - accuracy: 0.5342 - loss: 0.6909
Epoch 63/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 922us/step - accuracy: 0.5326 - loss: 0.6911
Epoch 64/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 843us/step - accuracy: 0.5305 - loss: 0.6913
Epoch 65/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 870us/step - accuracy: 0.5382 - loss: 0.6904
Epoch 66/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 924us/step - accuracy: 0.5296 - loss: 0.6914
Epoch 67/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 850us/step - accuracy: 0.5291 - loss: 0.6915
Epoch 68/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 835us/step - accuracy: 0.5320 - loss: 0.6912
Epoch 69/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 864us/step - accuracy: 0.5279 - loss: 0.6917
Epoch 70/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 940us/step - accuracy: 0.5309 - loss: 0.6913
Epoch 71/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 851us/step - accuracy: 0.5300 - loss: 0.6915
Epoch 72/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 833us/step - accuracy: 0.5267 - loss: 0.6918
Epoch 73/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 894us/step - accuracy: 0.5374 - loss: 0.6904
Epoch 74/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 845us/step - accuracy: 0.5306 - loss: 0.6913
Epoch 75/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 954us/step - accuracy: 0.5280 - loss: 0.6916
Epoch 76/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 824us/step - accuracy: 0.5314 - loss: 0.6913
Epoch 77/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 908us/step - accuracy: 0.5276 - loss: 0.6917
Epoch 78/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 868us/step - accuracy: 0.5294 - loss: 0.6915
Epoch 79/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 840us/step - accuracy: 0.5311 - loss: 0.6913
Epoch 80/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 924us/step - accuracy: 0.5353 - loss: 0.6908
Epoch 81/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 829us/step - accuracy: 0.5296 - loss: 0.6915
Epoch 82/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 938us/step - accuracy: 0.5355 - loss: 0.6907
Epoch 83/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 849us/step - accuracy: 0.5322 - loss: 0.6911
Epoch 84/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 921us/step - accuracy: 0.5326 - loss: 0.6911
Epoch 85/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 849us/step - accuracy: 0.5330 - loss: 0.6911
Epoch 86/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 839us/step - accuracy: 0.5333 - loss: 0.6910
Epoch 87/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 983us/step - accuracy: 0.5365 - loss: 0.6906
Epoch 88/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 822us/step - accuracy: 0.5290 - loss: 0.6915
Epoch 89/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 836us/step - accuracy: 0.5305 - loss: 0.6914
Epoch 90/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 834us/step - accuracy: 0.5340 - loss: 0.6910
Epoch 91/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 880us/step - accuracy: 0.5282 - loss: 0.6917
Epoch 92/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 848us/step - accuracy: 0.5318 - loss: 0.6912
Epoch 93/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 836us/step - accuracy: 0.5298 - loss: 0.6915
Epoch 94/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 911us/step - accuracy: 0.5303 - loss: 0.6914
Epoch 95/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 871us/step - accuracy: 0.5297 - loss: 0.6915
Epoch 96/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 832us/step - accuracy: 0.5378 - loss: 0.6902
Epoch 97/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 927us/step - accuracy: 0.5324 - loss: 0.6911
Epoch 98/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 843us/step - accuracy: 0.5279 - loss: 0.6917
Epoch 99/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 868us/step - accuracy: 0.5406 - loss: 0.6899
Epoch 100/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 842us/step - accuracy: 0.5296 - loss: 0.6915

In [36]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 1ms/step - accuracy: 0.5987 - loss: 1.1886
Loss: 1.1886450052261353, Accuracy: 0.5986880660057068

In [37]:
# Export our model to HDF5 file
filepath = r"E:\deep-learning-challenge\deep-learning-challenge\Starter_Code\output_file\AlphabetSoupCharityOptimization1.h5"
nn.save(filepath, save_format='h5')

WARNING:absl:The `save_format` argument is deprecated in Keras 3. We recommend removing this argument as it can be inferred from the file path. Received: save_format=h5
WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.