## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import load_model
import warnings
warnings.simplefilter("ignore")

#  Import and read the charity_data.csv.
import pandas as pd
applications_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
applications_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
applications_df.drop(['EIN', 'NAME'], axis=1, inplace=True)
applications_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
unique_values = applications_df.nunique()
unique_values

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = applications_df['APPLICATION_TYPE'].value_counts()
application_type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# Choose a cutoff value
cutoff_value = 100  # Example cutoff value

# Identify application types with counts below the cutoff value
application_types = application_type_counts[application_type_counts < cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types:
    applications_df['APPLICATION_TYPE'] = applications_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
applications_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_counts = applications_df['CLASSIFICATION'].value_counts()
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = classification_counts[classification_counts > 1]
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
cutoff_value = 100

# use the variable name `classifications_to_replace`
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    applications_df['CLASSIFICATION'] = applications_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
applications_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      643
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C1370        1
C1236        1
C2190        1
C4200        1
C5200        1
C1900        1
C2600        1
C1248        1
C6100        1
C1820        1
C1580        1
C2570        1
C1732        1
C3700        1
C2500        1
C1570        1
C1283        1
C2380        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2561        1
C2150        1
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
applications_df_numeric = pd.get_dummies(applications_df)
applications_df_numeric.head(5)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [10]:
# Split our preprocessed data into our features and target arrays
# Features (independent variables)
X = applications_df_numeric.drop(columns=['IS_SUCCESSFUL']).values

# Target (dependent variable)
y = applications_df_numeric['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Print the shapes of the training and testing sets to verify the split
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (27439, 76)
X_test shape: (6860, 76)
y_train shape: (27439,)
y_test shape: (6860,)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# Define the number of hidden nodes for each layer
hidden_nodes_layer1 = 30
hidden_nodes_layer2 = 15

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=X_train.shape[1], activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

c:\Users\pavan\anaconda3\envs\dev\lib\site-packages\keras\src\layers\core\dense.py:88: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 30)             │         2,310 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 15)             │           465 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            16 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,791 (10.90 KB)

 Trainable params: 2,791 (10.90 KB)

 Non-trainable params: 0 (0.00 B)

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Convert X_train and y_train to appropriate numerical data types
X_train = X_train.astype(np.float32)
y_train = y_train.astype(np.float32)

In [15]:
# Train the model
history = nn.fit(X_train, y_train, epochs=100, verbose=1)

# Access training history
print(history.history.keys())

Epoch 1/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 2s 823us/step - accuracy: 0.4983 - loss: 34654.8906
Epoch 2/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 771us/step - accuracy: 0.5016 - loss: 73842.5547
Epoch 3/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 734us/step - accuracy: 0.5091 - loss: 22147.4004
Epoch 4/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 741us/step - accuracy: 0.5181 - loss: 6967.7593
Epoch 5/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 740us/step - accuracy: 0.5154 - loss: 41234.3672
Epoch 6/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 729us/step - accuracy: 0.5117 - loss: 6083.8970
Epoch 7/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 831us/step - accuracy: 0.5074 - loss: 27081.9766
Epoch 8/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 742us/step - accuracy: 0.5288 - loss: 28761.8848
Epoch 9/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 727us/step - accuracy: 0.5035 - loss: 14176.1543
Epoch 10/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 779us/step - accuracy: 0.4735 - loss: 18322.3906
Epoch 11/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 804us/step - accuracy: 0.5378 - loss: 18427.9688
Epoch 12/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 791us/step - accuracy: 0.5170 - loss: 8598.3584
Epoch 13/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 766us/step - accuracy: 0.5393 - loss: 3650.0837
Epoch 14/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 807us/step - accuracy: 0.5298 - loss: 8568.6143
Epoch 15/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 844us/step - accuracy: 0.4885 - loss: 5345.9780
Epoch 16/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 784us/step - accuracy: 0.5605 - loss: 1493.4460
Epoch 17/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 806us/step - accuracy: 0.4903 - loss: 6998.6353
Epoch 18/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 779us/step - accuracy: 0.4726 - loss: 4113.3901
Epoch 19/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 833us/step - accuracy: 0.5428 - loss: 3654.8267
Epoch 20/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 784us/step - accuracy: 0.5417 - loss: 1923.0171
Epoch 21/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 806us/step - accuracy: 0.5133 - loss: 568.0615
Epoch 22/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 801us/step - accuracy: 0.4943 - loss: 1304.8992
Epoch 23/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 851us/step - accuracy: 0.5076 - loss: 567.8113
Epoch 24/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 790us/step - accuracy: 0.4927 - loss: 1223.6124
Epoch 25/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 782us/step - accuracy: 0.5178 - loss: 742.8985
Epoch 26/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 751us/step - accuracy: 0.5146 - loss: 570.0889
Epoch 27/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 853us/step - accuracy: 0.5228 - loss: 196.9917
Epoch 28/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 750us/step - accuracy: 0.5165 - loss: 16.6070
Epoch 29/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 761us/step - accuracy: 0.5170 - loss: 34.3546
Epoch 30/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 817us/step - accuracy: 0.5285 - loss: 403.5225
Epoch 31/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 870us/step - accuracy: 0.5915 - loss: 0.6407
Epoch 32/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 751us/step - accuracy: 0.6432 - loss: 0.6345
Epoch 33/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 796us/step - accuracy: 0.6505 - loss: 0.6307
Epoch 34/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 770us/step - accuracy: 0.6576 - loss: 0.6262
Epoch 35/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 855us/step - accuracy: 0.6439 - loss: 0.6357
Epoch 36/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 899us/step - accuracy: 0.6334 - loss: 0.6441
Epoch 37/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 955us/step - accuracy: 0.6274 - loss: 0.6789
Epoch 38/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.5097 - loss: 0.6926
Epoch 39/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 952us/step - accuracy: 0.5289 - loss: 0.6916
Epoch 40/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 962us/step - accuracy: 0.5330 - loss: 0.6910
Epoch 41/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 986us/step - accuracy: 0.5290 - loss: 0.6915
Epoch 42/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 948us/step - accuracy: 0.5343 - loss: 0.6909
Epoch 43/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 948us/step - accuracy: 0.5331 - loss: 0.6910
Epoch 44/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 933us/step - accuracy: 0.5335 - loss: 0.6910
Epoch 45/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.5275 - loss: 0.6917
Epoch 46/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 917us/step - accuracy: 0.5318 - loss: 0.6912
Epoch 47/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 992us/step - accuracy: 0.5338 - loss: 0.6909
Epoch 48/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.5358 - loss: 0.6907
Epoch 49/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 963us/step - accuracy: 0.5347 - loss: 0.6909
Epoch 50/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.5324 - loss: 0.6911
Epoch 51/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.5271 - loss: 0.6918
Epoch 52/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 938us/step - accuracy: 0.5298 - loss: 0.6915
Epoch 53/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 918us/step - accuracy: 0.5297 - loss: 0.6915
Epoch 54/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.5262 - loss: 0.6919
Epoch 55/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 917us/step - accuracy: 0.5329 - loss: 0.6911
Epoch 56/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 920us/step - accuracy: 0.5384 - loss: 0.6904
Epoch 57/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.5325 - loss: 0.6911
Epoch 58/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 903us/step - accuracy: 0.5317 - loss: 0.6912
Epoch 59/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 977us/step - accuracy: 0.5244 - loss: 0.6920
Epoch 60/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 983us/step - accuracy: 0.5331 - loss: 0.6910
Epoch 61/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 965us/step - accuracy: 0.5307 - loss: 0.6914
Epoch 62/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 927us/step - accuracy: 0.5309 - loss: 0.6913
Epoch 63/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 993us/step - accuracy: 0.5300 - loss: 0.6915
Epoch 64/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 939us/step - accuracy: 0.5309 - loss: 0.6913
Epoch 65/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 970us/step - accuracy: 0.5297 - loss: 0.6914
Epoch 66/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 981us/step - accuracy: 0.5315 - loss: 0.6912
Epoch 67/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 909us/step - accuracy: 0.5329 - loss: 0.6910
Epoch 68/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 953us/step - accuracy: 0.5382 - loss: 0.6904
Epoch 69/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 790us/step - accuracy: 0.5315 - loss: 0.6913
Epoch 70/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 890us/step - accuracy: 0.5347 - loss: 0.6909
Epoch 71/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 937us/step - accuracy: 0.5286 - loss: 0.6915
Epoch 72/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 992us/step - accuracy: 0.5374 - loss: 0.6904
Epoch 73/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 934us/step - accuracy: 0.5328 - loss: 0.6912
Epoch 74/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 918us/step - accuracy: 0.5317 - loss: 0.6912
Epoch 75/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 935us/step - accuracy: 0.5367 - loss: 0.6906
Epoch 76/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 948us/step - accuracy: 0.5348 - loss: 0.6909
Epoch 77/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 964us/step - accuracy: 0.5304 - loss: 0.6914
Epoch 78/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 955us/step - accuracy: 0.5305 - loss: 0.6914
Epoch 79/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 902us/step - accuracy: 0.5337 - loss: 0.6910
Epoch 80/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 919us/step - accuracy: 0.5325 - loss: 0.6911
Epoch 81/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 921us/step - accuracy: 0.5344 - loss: 0.6909
Epoch 82/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 928us/step - accuracy: 0.5297 - loss: 0.6915
Epoch 83/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 941us/step - accuracy: 0.5335 - loss: 0.6910
Epoch 84/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 895us/step - accuracy: 0.5350 - loss: 0.6907
Epoch 85/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 908us/step - accuracy: 0.5342 - loss: 0.6909
Epoch 86/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.5359 - loss: 0.6906
Epoch 87/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 922us/step - accuracy: 0.5329 - loss: 0.6911
Epoch 88/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 920us/step - accuracy: 0.5293 - loss: 0.6915
Epoch 89/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 916us/step - accuracy: 0.5334 - loss: 0.6910
Epoch 90/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 903us/step - accuracy: 0.5340 - loss: 0.6910
Epoch 91/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.5312 - loss: 0.6913
Epoch 92/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 935us/step - accuracy: 0.5291 - loss: 0.6915
Epoch 93/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 931us/step - accuracy: 0.5313 - loss: 0.6913
Epoch 94/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.5245 - loss: 0.6920
Epoch 95/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 991us/step - accuracy: 0.5323 - loss: 0.6911
Epoch 96/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 911us/step - accuracy: 0.5331 - loss: 0.6911
Epoch 97/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 998us/step - accuracy: 0.5328 - loss: 0.6911
Epoch 98/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 956us/step - accuracy: 0.5349 - loss: 0.6908
Epoch 99/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 902us/step - accuracy: 0.5323 - loss: 0.6912
Epoch 100/100
858/858 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.5324 - loss: 0.6912
dict_keys(['accuracy', 'loss'])

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 1ms/step - accuracy: 0.6934 - loss: 1.5298
Loss: 1.5297753810882568, Accuracy: 0.6934402585029602

In [17]:
# Export our model to HDF5 file
filepath = r"E:\deep-learning-challenge\deep-learning-challenge\Starter_Code\output_file\AlphabetSoupCharityOptimization2.h5"
nn.save(filepath, save_format='h5')

WARNING:absl:The `save_format` argument is deprecated in Keras 3. We recommend removing this argument as it can be inferred from the file path. Received: save_format=h5
WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.